    <div class="mat-elevation-z8 w-full">
        <div class="flex justify-end p-8">
            <button routerLink="/create-audience" mat-raised-button color="primary">Добавить аудиторию</button>
        </div>
        <table mat-table [dataSource]="audienceList">
                  
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="buildingId">
              <th mat-header-cell *matHeaderCellDef> BuildingId </th>
              <td mat-cell *matCellDef="let element"> {{element.buildingId}} </td>
            </ng-container>
                
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Наименование </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
        
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Тип помощения </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef> Вместимость </th>
                <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
              </ng-container>

              <ng-container matColumnDef="floor">
                <th mat-header-cell *matHeaderCellDef> Этаж </th>
                <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
              </ng-container>

              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> Номер </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
              </ng-container>
        
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Действия </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button color="primary" (click)="edit(element.id)">Изменить</button>  
                    <button mat-raised-button color="warn" (click)="delete(element.id)">Удалить</button>    
                </td>
              </ng-container>
                            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>    
